<footer>
    <div class="footer-contents wrapper">
        <ul>
            <div class="bt"></div>
            <li>
                <div class="bb"></div>
                <a href="./index.php">HOME</a>
            </li>
            <li>
                <div class="bb"></div>
                <a href="./about.php">パスポストとは</a>
            </li>
            <li>
                <div class="bb"></div>
                <a href="./contact.php">お問い合わせ</a>
            </li>
        </ul>
        <p class="copyright"><small>&copy;パスポスト. ALL RIGHT RESERVED.</small></p>
    </div>
    <div class="bt"></div>
</footer>