<div class="modal-bg close">
<div class="report-modal modal">
    <div class="modal-cancel"></div>
    <div class="sp-inner">
        <p class="header">手紙の報告</p>
        <div id="report-form" data-id="">
            <dl>
                <dt>報告理由</dt>
                <dd>
                    <select name="reason" id="reason">
                        <option value="1">不審な内容・スパムだったから</option>
                        <option value="2">攻撃的な内容を含んでいたから</option>
                        <option value="3">自傷行為・自殺をほのめかす内容だったから</option>
                    </select>
                </dd>
            </dl>
            <p>ご報告いただいた内容は確認の上、適切に対応いたします。該当する手紙の削除をお約束するものではありませんので、予めご了承ください。</p>
            <button class="report-btn">報告する</button>
        </div>
    </div>
</div>
</div>